<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/auth/authStyle.css">
    <title>RegisterForm</title>
</head>
<body>


<form action="" method="post">
    <label>
        <p class="label-txt">EMAIL</p>
        <input type="text" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">USERNAME</p>
        <input type="text" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">PASSWORD</p>
        <input type="text" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <button type="submit">submit</button>
</form>
</body>
</html>