<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sideNavSocial</title>
    <link rel="stylesheet" href="/css/static/sideNavSocialStyle.css">
</head>
<body>
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a href="/profile/social/friends">Friends</a>
        </li>
        <li>
            <a href="/profile/social/global">Global</a>
        </li>

        <li>
            <a href="/profile/social/requests">FriendRequests</a>
        </li>



    </ul>
</div>
</body>
</html>