
body{margin-top:20px;
    background: #f5f5f5;
}
.welcome-text{
    margin-left:200px;
}
.theme-bg-white {
    background-color: #fff !important;
}
.ui-w-100 {
    width: 150px !important;
    height: 150px;
}
.ui-w-40 {
    width: 90px !important;
    height: 90px
}
.row-bordered>.col::before, .row-bordered>[class^="col-"]::before, .row-bordered>[class*=" col-"]::before, .row-bordered>[class^="col "]::before, .row-bordered>[class*=" col "]::before, .row-bordered>[class$=" col"]::before, .row-bordered>[class="col"]::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    display: block;
    height: 0;
    border-top: 1px solid rgba(24,28,33,0.06);
}
.row-bordered>.col::after, .row-bordered>[class^="col-"]::after, .row-bordered>[class*=" col-"]::after, .row-bordered>[class^="col "]::after, .row-bordered>[class*=" col "]::after, .row-bordered>[class$=" col"]::after, .row-bordered>[class="col"]::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    display: block;
    width: 0;
    border-left: 1px solid rgba(24,28,33,0.06);
}

.ui-bg-cover {
    background-color: rgba(0,0,0,0);
    background-position: center center;
    background-size: cover;
}

.ui-square {
    padding-top: 100% !important;
}
.ui-square, .ui-rect, .ui-rect-30, .ui-rect-60, .ui-rect-67, .ui-rect-75 {
    position: relative !important;
    display: block !important;
    padding-top: 100% !important;
    width: 100% !important;
}
#navbar {
    overflow:hidden;
    top:0;
    width: 100%;
    position:fixed;
    z-index: 1000;
}
.content{
    margin-top: 55px;
}
.friends-window{
    margin-left:6px;
}
.song-window{
    margin-left:10px;
    margin-top:6px;
}
.song-name{
    text-align: center;
    margin-left: 5%;
    margin-top: 20px;
}
.href a{
    color: black; !important;
}



/* On small screens, set height to 'auto' for sidenav and grid */
